{% extends 'base.html' %} {% load static %} {% block 'head' %}
<link rel="stylesheet" href="{% static 'styles/vaga.css' %}" />
{% endblock %} {% block 'body' %}

<div class="container p-4">
  {% if messages %} {% for message in messages %}
  <section class="alert {{message.tags}}">{{message}}</section>
  {% endfor %} {% endif %}
  <div class="row">
    <h3 class="title">{{vaga.title}}</h3>
    <p class="title__company">{{vaga.company}}</p>
    <p class="title__status">{{vaga.get_status_display}}</p>
    
  </div>

    
 

  </div>
</div>

<div class="bg2">
  <div class="container">
    <div class="row">
      <div class="col-md form-task">
        <h2>Crie uma tarefa</h2>
        <p>Lembre-se de realizar todas suas tarefas com antecedência</p>

        <form action="{% url 'nova_tarefa' vaga.id %}" method="POST">
          {% csrf_token %}

          <label>Título:</label>
          <input
            name="title"
            type="text"
            class="form-control taskinput mb-4"
            placeholder="Digite o título da tarefa..."
          />
   
          <label>Prioridade:</label>
          <select name="priority" class="form-select taskinput mb-4">
            <option value="U">Urgente</option>
            <option value="A">Alta</option>
            <option value="B">Baixa</option>
          </select>
     
          <label>Data:</label>
          <input
            name="date"
            type="date"
            class="form-control taskinput mb-4"
            placeholder=""
          />
    
          <input type="submit" value="Nova tarefa" class="btn btn-primary newtaskbtn  mb-5" />
        </form>
      </div>

      <div class="col-md">
          <ul class="list-group">

              {% for tarefa in tarefas %}

              {% if tarefa.finished == False %}
              
              <div class="list-group-item list-group-item-action flex-column align-items-start p-3 mb-3">
                <div class="d-flex w-100 justify-content-between">
                  <h5 class="mb-1">{{tarefa.title}}</h5>
                  <small>{{tarefa.icon}}</small>
                </div>
                <p class="mb-3">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                <div class="d-flex w-100 justify-content-between align-items-center">
                  <small>{{tarefa.date|date:"d/m/y"}}</small>
                  <a href="{% url 'realizar_tarefa' tarefa.id %}" class="btn btn-success">Finalizado</a>
                </div>
              </div>

              {% else %}

              <div class="list-group-item list-group-item-action flex-column align-items-sta  rt p-3 mb-3 disabled">
                <div class="d-flex w-100 justify-content-between">
                  <h5 class="mb-1">{{tarefa.title}}</h5>
                  <small>{{tarefa.icon}}</small>
                </div>
                <p class="mb-3">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                <div class="d-flex w-100 justify-content-between align-items-center">
                  <small>Finalizado em: {{tarefa.date|date:"d/m/y"}}</small>
                </div>
              </div>

              {% endif %}
              
              {% endfor %}
          </ul>
      </div>
      </div>
    </div>
  </div>
</div>




{% endblock %}