{% extends 'base.html' %} {% load static %} {% block 'head' %}

<link href="{% static '/styles/empresa_unica.css' %}" rel="stylesheet" />

{% endblock%} {% block 'body' %}

<div class="container-fluid mt-5 p-4 whitebox">
  {% include 'messages.html' %}

  <div class="row mb-5 d-flex justify-content-center">
    <div class="companylogo">
    <img src="{{company.logo.url}}" />
    </div>
  </div>
  
  
      <div class="row mb-4">
          <h1 class="title">{{company.name}}</h1>
          <h3 class="headquarters">{{company.headquarters}}</h3>
      </div>

      <div class="row mb-4">
          <label>Nicho de mercado:</label>
          <h3 class = 'niche_label'>{{company.marketing_niche}} </h3>
      </div>

      <div class="row mb-4 d-flex justify-content-center">
        <button
          type="button"
          class="btn btn-primary"
          data-bs-toggle="modal"
          data-bs-target="#staticBackdrop"
          style="width: 60%"
        >
          Cadastrar Vaga
        </button>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row gy-3 my-3">
    {% include 'modal.html' %} {% for job in jobs %}
    <div class="col-sm-6 col-md-4 col-lg-6">
      <div class="card mb-4">
        <div class="card-body">
          <h3 class="card-title">{{job.title}}</h3>
          <div class="col-md">
            <label class="paragrafo">Nível:</label>
            <label class="paragrafo paragrafo-orange"
              >{{job.get_experience_display}}</label>
          </div>
          <div class="col-md">
            <label>Status:</label>
            <label class="mb-3">{{job.get_status_display}}</label>
          </div>
          
          
          <a href="{% url 'vaga_unica' job.id %}" class="btn btn-primary">Visualizar Vaga</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}
