<div
  class="modal fade"
  id="staticBackdrop"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Cadastrar Vaga</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form action="{% url 'nova_vaga' %}" method="POST" enctype=multipart/form-data>
          {% csrf_token %}
          <div class="row">
            <div class="col-md">
              <label>Nova Vagas:</label>
              {{form.title}}
            </div>
            <div class="col-md">
              <label>Horas de Trabalho:</label>
              {{form.position_type}}
            </div>
          </div>
          <div class="row">
            <div class="col-md">
              <label>Link da Vaga:</label>
              {{form.url}}
            </div>
          </div>  
          <div class="row">
            <div class="col-md">
              <label>Nível de experiência:</label>
              {{form.experience}}
            </div>

            <div class="col-md">
              <label>Data final:</label>
              {{form.final_date}}
            </div>
          </div>
          <br />

          <div class="row">
            <div class="col-md">
              <label>Status:</label>
              {{form.status}}
            </div>
          </div>
          <br />
          <div class="row">
            <div class="col-md">
              <label>Company:</label>
              {{form.company}}
            </div>
          </div>
          <br />
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Fechar
          </button>
          <button type="submit" class="btn btn-primary">Cadastrar</button>
        </form>
      </div>
    </div>
  </div>
</div>
