{% extends "base.html" %}
{% load static %}

{% block 'head' %}
    <link href="{% static '/styles/nova_empresa.css' %}" rel="stylesheet">
{% endblock%}

{% block 'body' %}

    <section class="wrapper d-flex flex-column min-vh-100">
        <div class="whitebox">
            <div class="header">
                {% include 'messages.html' %}
                <h3 class="title">Nova empresa</h3>
            </div>
            {{user.get_username}}
            {{user.get_id}}
            <div class="body-box">
                <div class="form-group">
                <form action= "{% url 'nova_empresa' %}" method="POST" enctype=multipart/form-data> 
                    {% csrf_token %}

                    <div class="row">
                            <label for="exampleInputEmail1" class="form-label">Nome</label>
                            {{form.name}}
                            <label for="exampleInputEmail1" class="form-label">Email</label>
                            {{form.email}}
                            <label for="exampleInputEmail1" class="form-label">Sede</label>
                            {{form.headquarters}}
                    </div>


                    <div class ="row">   
                        <div class="col-md">
                            <label class="form-label">Tamanho da Empresa</label>
                            {{form.company_size}}
                            </select>
                        </div>
                        <div class="col-md">
                            <label class="form-label">Nicho de Mercado</label>
                            {{form.marketing_niche}}
                        </div>
                    </div>
                    <br>

                    <div class="row">
                        <label class="form-label">Logo da Empresa</label>
                        {{form.logo}}
                    </div>
                    <br>
                    <input type="submit" value="Nova empresa" class="form__submitbtn">
                </form>
                </div>
                
            </div>
        </div>
    </section>

{% endblock%}